/* Contains the styling of the landing page contents*/

.resize {
	width: 300px;
	height: 300px;
}

.logo {
	width: 80px;
	height: 80px;
}

button {
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 8px;
	color: white;
	background: #3882F6;
}

a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: #E5E7EB;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
}

.right {
	display: flex;
	align-items: center;
	gap: 16px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.subhead {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.firsthead {
	background-color: #1F2937;
}

.hero {
	font-size: 48px;
	font-weight: #F9FAF8;
	color: white;
	align-self: center;
}

.sechero {
	font-size: 18px;
	font-weight: #E5E7EB;
	color: white;
	align-self: center;
}

.left-sub {
	display: flex;
	/*width: 80%;*/
	flex-direction: column;
}

body {
	text-align: center;
}

.info {
	max-width: 200px;
}

.content {
	margin-top: 16px;
	display: flex;
	justify-content: center;
	gap: 52px;
}

.title {
	margin-bottom: 32px;
}

.footer {
	background-color: #1F2937;
}

.quote {
	background-color: #E5E7EB;
}

.quote-text {
	font-size: 36px;
	font-family: #1F2937;
}

.action {
	background-color: #3882F6;
}


